<app-card>
  <app-error-wrapper *ngrxLet="data1$ as data; let e = $error; suspenseTpl: loadingTemplate" [isError]="e">
    <app-comp1 [data]="data"></app-comp1>
  </app-error-wrapper>
</app-card>

<app-card>
  <app-error-wrapper *ngrxLet="data2$ as data; let e = $error; suspenseTpl: loadingTemplate" [isError]="e">
    <app-comp2 [data]="data"></app-comp2>
  </app-error-wrapper>
</app-card>

<app-card>
  <app-error-wrapper *ngrxLet="data3$ as data; let e = $error; suspenseTpl: loadingTemplate" [isError]="e">
    <app-comp3 [data]="data"></app-comp3>
  </app-error-wrapper>
</app-card>

<ng-template #loadingTemplate>
  <div>LOADING...</div>
</ng-template>
