<ng-container *ngrxLet="data1$ as data; let e = $error; let c = $complete, suspenseTpl: loadingTemplate">
  <ng-container *ngIf="!e else errorTemplate">
    <app-comp1 [data]="data" *ngIf="c"></app-comp1>
  </ng-container>
</ng-container>

<hr>

<ng-container *ngrxLet="data2$ as data; let e = $error; let c = $complete, suspenseTpl: loadingTemplate">
  <ng-container *ngIf="!e else errorTemplate">
    <app-comp2 [data]="data" *ngIf="c"></app-comp2>
  </ng-container>
</ng-container>

<hr>

<ng-container *ngrxLet="data3$ as data; let e = $error; let c = $complete, suspenseTpl: loadingTemplate">
  <ng-container *ngIf="!e else errorTemplate">
    <app-comp3 [data]="data" *ngIf="c"></app-comp3>
  </ng-container>
</ng-container>

<ng-template #errorTemplate>
  <p>ERROR!</p>
</ng-template>

<ng-template #loadingTemplate>
  <p>LOADING...</p>
</ng-template>
